.messageIcon {
    content: url("./email.png"); width: 45px; height: 45px;
    display: inline-block;
    margin-bottom: 0%;
    margin-top: -20%;

  }

  .pragrapgh {
    font-size: 0.8rem;
    text-align:center;
    color:white;
  }

.checkinboxForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    width: 270px;
    border-radius: 5px;
    display: flex;
    background: rgba(255, 255, 255, 0.212);
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
  }

