.modal__container__settings {
    background: #fff;
    border-radius: 5px;
    max-width: 900px;
    max-height: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    overflow: auto;
}

.admin-settings-layout {
    display: flex;
    flex-wrap: wrap; 
    margin:auto;
    max-width: 400px;
    direction: rtl;
}

.define_btn{
    color: #aaaaaa;
    float: right;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 20px;
    padding-top: 5px;
    font-weight: bold;
    color:navy;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}