.modal__container__Stats {
    background: #fff;
    border-radius: 5px;
    max-width: 1200px;
    max-height: 530px;
    height: 530px;
    margin: 80px auto;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 30px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    margin-left: 20px;
    padding-top: 5px;
    position: absolute;
}
  
.close:hover,
.close:focus {
    color: #f5ba13;
    text-decoration: none;
    cursor: pointer;
}


/*charts close*/


.close-charts{
    color: #aaaaaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    margin-left: 20px;
    padding-top: 5px;
    position: absolute;
    z-index: 9999999;
}

.close-charts:hover,
.close-charts:focus {
    color: #f5ba13;
    text-decoration: none;
} 

/* charts */
.charts{
    /* display: 'flex';
    max-width: 1200; */
    margin: auto;
    direction: rtl;
}