.modal__container__Result {
    background: #fff;
    border-radius: 5px;
    max-width: 900px;
    max-height: 200px;
    height: 200px;
    margin: 200px auto;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    overflow: auto;
}

.modal__container__Result button {
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    background-color: #f5ba13;
    position: relative;
    margin-bottom: 1%;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}
