main {
    background: #fff;
    margin: 0 auto;
    max-width: 680px;
    padding: 50px 30px;
}

.modal__backdrop {
    background: rgba(255, 254, 254, 0.705);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 6;
}
  
.modal__container {
    background: #fff;
    border-radius: 5px;
    max-width: 900px;
    max-height: 590px;
    height: 590px;
    margin: 60px auto;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    overflow: auto;
}
  
.modal__title {
    font-size: 25px;
    padding: 10px 25px 10px;
    line-height: 20px;
    color:navy;
    font-weight:bolder;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}
  
#para {
    padding: 20px;
    min-height: 20px;
    overflow-y: auto;
    padding-top: 0;
    font-size: 20px;
    color:navy;
    font-weight:medium;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}

.modal__container button {
    padding: 10px 20px;
    margin-left: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f5ba13;
    position: relative;
    margin-bottom: 2%;
    margin-top: -10000000000000%;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}



/* Table */
.responsive-table {
    overflow: auto;
}

/* new table */
  
.draggable-table {
    width: 90%;
    border-spacing: 0;
    border-collapse: collapse;
    white-space:nowrap;
    margin: auto; 
    /* -webkit-box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 10px 8px rgba(0, 0, 0, 0.1);   */
  }

.draggable-table .draggable-table__drag {
    font-size: 16px;
    font-weight: normal;  
    position: relative;
    width: 90%;
    text-indent: 50px;    
    border: 1px solid #f1f1f1;
    z-index: 10;
    cursor: grabbing;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.05); 
    
    opacity: 1;
}  
    
.draggable-table   thead th {
        height: 25px;
        font-weight: bold;
        text-transform: capitalize;
        padding: 10px;
        user-select: none;
        background: navy;
        color:white;
}

    
.draggable-table   tbody tr {
    cursor: grabbing;
}
        
.draggable-table tbody tr td {
    font-size: 16px;
    font-weight:normal;
    text-indent: 50px;
    padding: 10px;  
    user-select: none;
    border-top: 1px solid whitesmoke;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
}
      
      
tr:nth-child(even) {
    background-color:#d4dbee;
}

tr:nth-child(odd) {
    background-color:#ebeef7;
}    
      
tr.is-dragging {
    background: #f5ba13;
    opacity: 1;
}

tr.is-dragging  td {
    color: #ffe683;
    /* position: relative; */
}

.draggable-table th, tr, td {
    text-align: center;
    border: 1px solid #E0E0E0;
    padding: 5px;
}

#remark {
    padding: 40px;
    min-height: 16px;
    overflow-y: auto;
    padding-top: 0;
    font-size: 16px;
    color:navy;
    font-weight:medium;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;  
}