.user-body{
    padding: 10px 150px 10px 150px;
    /* margin-top: 5%; */
    /* background: #f3f5f6; */
}

.layout-grid {
    display: flex;
    flex-wrap: wrap; 
    --height: 402px;  /* Minimal row height */
    --ratio: 1; /* Default aspect ratio for buttons that are not loaded yet */
    padding-top:20px;
    max-width: 700px;
    margin: auto;
}

.Endsin {

    margin: auto;
    margin-top: 30px;
    margin-left: 40%;
    height: 35px;
    width: 300px;
    border-radius: 2px;
    background: red;
    color: white;
    text-align: center;
}
